body{
    text-align: center;
}
.img2{
    height: 300px;
    width: 300px;
}
#aflowers{
    width: 800px;
    height: 800px;
}
#myCarousel{
    background-color: red;
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
}
